<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<script src="/js/individual-stats.js" type="text/javascript"></script>
</head>
<body>
    <div id="info-container">
        <select id="titles">
            Loading. Please Wait...
        </select>
        <div id="individual-stats">
        </div>
        <div id="tabular-chart">
        </div>
    </div>
    <div id="individual-charts">
      <ul>
        <li><a href="#tabs-1">Bar-Chart-1</a></li>
        <li><a href="#tabs-2">Pie-Chart</a></li>
        <li><a href="#tabs-3">Bar-Chart-2</a></li>
        <li><a href="#tabs-4">Bar-Chart-3</a></li>
      </ul>
      <div id="tabs-1">
        <div id="barchart1" class="chart-style"></div>
      </div>
      <div id="tabs-2">
        <div id="piechart1" class="chart-style"></div>
      </div>
      <div id="tabs-3">
        Select user: <select id="top-5-users"></select>
        <div id="barchart2" class="chart-style">
        </div>
      </div>
      <div id="tabs-4">
        <div id="barchart3" class="chart-style"></div>
      </div>
    </div>

</body>
</html>

